.employeeDashboard {
	background-color: #E2E5ED;
	height: 100%;
	width: 100%;
}

.employeeDashboard_logo {
	padding: 41px 0 0 45px;
	width: 100px;
}

.employeeDashboard_topnav {
	background-color: #37394C;
	height: 124px;
}

.employeeDashboard_link {
	color: #ffffff;	
	font-family: "DINPro-Bold";
	height: 15px;
	left: 214px;
	padding-right: 40px;
	position: relative;
	text-transform: uppercase;
	top: -48px;
}

.employeeDashboard_linkContainer {
	display: flex;
	flex: row nowrap;
	position: relative;
}

.employeeDashboard_search {
	border-radius: 25px;
	font-family: 'DINPro-Regular';
	font-size: 15px;
	height: 46px;
	width: 426px;
}

.employeeDashboard_search::placeholder {
	color: #ADADAD;
	padding-left: 39px;
}

.employeeDashboard_searchContainer {
	position: relative;
	top: -90px;
	left: 680px;
}