/* top nav bar */
.employeeDashboard {
	background-color: #E2E5ED;
	height: 100%;
	width: 100%;
}

.employerDashboard_flexContainer {
	align-items: baseline;
	display: flex;
	flex-flow: row nowrap;
	float: left;
	justify-content: space-around;
	padding-top: 35px;
	text-align: right;
	width: calc(100vw - 100px);
}

.employeeDashboard_link {
	color: #ffffff;	
	font-family: "DINPro-Bold";
	height: 15px;
	padding-right: 40px;
	text-transform: uppercase;
}

.employeeDashboard_linkContainer {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.employeeDashboard_logo {
	float: left;
	padding: 41px 0 0 45px;
	width: 100px;
}

.employeeDashboard_profileContainer_img {
	display: block;
	float: left;
	height: 40px;
	margin: 0 20px;
	width: 40px;
}

.employeeDashboard_profileContainer_p {
	color: #dddddd;
	float: left;
	font-family: 'DINPro-Regular';
	font-size: 15px;
	margin: 0;
	padding-top: 8px;
	
}

.employeeDashboard_search {
	border-radius: 25px;
	font-family: 'DINPro-Regular';
	font-size: 15px;
	height: 46px;
	width: 426px;
}

.employeeDashboard_search::placeholder {
	color: #ADADAD;
}

.employeeDashboard_searchContainer > img {
	height: 20px;
	left: 35px;
	position: relative;
	top: 5px;
}

.employeeDashboard_searchContainer > input {
	background: #F3F3F5;
	color: #ffffff;
	padding-left: 39px;
}

.employeeDashboard_searchProfileContainer {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.employeeDashboard_topnav {
	background-color: #37394C;
	height: 124px;
	position: fixed;
	z-index: 10;
}