.employee {
	align-items: center;
	background-color: #37394C;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.employee>a {
	text-decoration: none;
}

.employee_header {
	border-bottom: solid 3px #EA0D51;
	color: #EA0D51;
	font-family: 'Gotham-Black';
	font-size: 75px;
	margin: 0;
	padding-bottom: 25px;
	text-align: center;
	width: 197px;
}

.employee_paragraph {
	color: #FFFFFF;
	font-family: 'DINPro-Regular';
	font-size: 15px;
	padding-top: 6px;
	text-align: center;
	text-transform: uppercase;
}