.arrow {
	font-family: 'DINPro-Light';
	font-size: 64px;
}

.arrow>.left, .arrow>.right {
	color: #707070;
	font-family: "DINPro-Light";
	position: absolute;
}

.left {
	left: 10px;
}

.right {
	right: 10px;
}

.partner {
	align-items: center;
	background-color: #2B2B2B;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.partner>a, .arrow>a {
	text-decoration: none;
}

.partner_header {
	border-bottom: solid 3px #FCA552;
	color: #FCA552;
	font-family: 'Gotham-Black';
	font-size: 75px;
	margin: 0;
	padding-bottom: 25px;
	text-align: center;
	width: 197px;
}

.partner_paragraph {
	color: #FFFFFF;
	font-family: 'DINPro-Regular';
	font-size: 15px;
	padding-top: 6px;
	text-align: center;
	text-transform: uppercase;
}