.headerEE > a {
	color: #EA0D51;
	text-decoration: none;
	width: 100px;
}

.headerEE_p {
	font-family: 'Gotham-Black';
	font-size: 25px;
	line-height: 1;
	height: 25px;
	margin: 0;
	text-transform: uppercase;
	width: 116px;
}